<div class="panel panel-default">
  <div class="panel-body">
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" novalidate>

      <div
        class="form-group"
        [ngClass]="{
          'has-error': !settingsForm.get('dockerHost').valid,
          'has-success': settingsForm.get('dockerHost').valid
        }"
      >
        <label for="dockerHost">Docker Host</label>
        <input id="dockerHost" class="form-control" formControlName="dockerHost">
      </div>

      <div
        class="form-group"
        [ngClass]="{
          'has-error': !settingsForm.get('dockerPort').valid,
          'has-success': settingsForm.get('dockerPort').valid
        }"
      >
        <label for="dockerPort">Docker Port</label>
        <input id="dockerPort" class="form-control" formControlName="dockerPort">
      </div>

      <div class="form-group">
        <label for="isHttps">
          <input id="isHttps" type="checkbox" formControlName="isHttps">
          Is HTTPS?
        </label>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </form>
  </div>
</div>
