<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Container ID</th>
      <th>Image</th>
      <th>Created</th>
      <th>Status</th>
      <th>Ports</th>
      <th>Names</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{ getIdTruncated(item) }}</td>
      <td>{{ item.Image }}</td>
      <td>{{ getCreatedAsString(item) }}</td>
      <td>{{ item.Status }}</td>
      <td>
        <span *ngFor="let port of item.Ports">
          {{ renderPortItem(port) }}
        </span>
      </td>
      <td>{{ item.Names.join(', ') }}</td>
      <td>
        <button
          *ngIf="item.State !== 'running'"
          class="btn btn-success"
          title="Start this container"
          (click)="onStart(item)"
        >
          <i class="glyphicon glyphicon-play"></i>
        </button>
        <button
          *ngIf="item.State === 'running'"
          class="btn btn-danger"
          title="Stop this container"
          (click)="onStop(item)"
        >
          <i class="glyphicon glyphicon-stop"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
